@use "../../style/mixin.scss" as *;
@use "../../style/font.scss" as *;
@use "../../style/colors.scss" as *;

.workout-preview {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(35, 87, 136) 10%, #062c4e89 100%);
  box-shadow: 10px 10px 10px rgba(34, 75, 139, 0.236) inset,
    0 8px 16px rgba(0, 0, 0, 0.664);
  border-radius: 20px;
  margin-top: 20px;
  width: 80%;
  padding: 10px;

  p {
    font-weight: bold;
    color: $primary-color;
  }
}
.workout-preview:active {
  transform: scale(0.5);
  transition: ease-in 0.5s;
}

.workout-card {
  background: linear-gradient(rgb(35, 87, 136) 10%, #062c4e89 100%);
  box-shadow: 10px 5px 20px 20px rgba(50, 101, 183, 0.275) inset;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;

  .exercise-form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .exercise-property {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-size: 12px;
        font-weight: bold;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      input {
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        margin-bottom: 30px;
        width: 50%;
      }
    }
  }

  .workout-title {
    margin: 10px 0 20px;
    display: flex;

    h3 {
      font-size: 15px;
    }
  }

  .card-head-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .app-btn {
    padding: 10px;
    border-radius: 10px;
    background-color: $primary-color;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-family: $app-type;
    font-weight: bold;
    color: $secondary-color;
    border: none;
  }

  .exercise-card {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    .return-arrow {
      width: 30px;
      color: $primary-color;
    }
    .ex-info {
      display: flex;
      justify-content: center;
      width: 100%;

      p {
        font-size: 10px;
        align-items: center;
      }
    }

    .workout-exercise-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
}

.exercise-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  img {
    width: 50px;
  }
  button {
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    font-family: $app-type;
    font-weight: bold;
    border: none;
    color: $secondary-color;

    &.disabled {
      background-color: rgba(255, 255, 255, 0.467);
      color: rgb(77, 92, 134);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  .completed-workout-button {
    background-color: $positive-action;
    box-shadow: 5px 5px 20px rgba(3, 174, 0, 0.521) inset;
  }
  .completed-workout-button:active {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.521) inset,
      0px 5px 10px rgba(0, 0, 5, 0.521),
      0 0 15px 5px rgba(10, 101, 0, 0.7) inset;
  }
}
