@use "../../style/mixin.scss" as *;
@use "../../style/font.scss" as *;
@use "../../style/colors.scss" as *;

.workout-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: $primary-color;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  li {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
    button {
      padding: 5px;
      background-color: white;
      font-weight: bold;
      font-family: $app-type;
      border-radius: 10px;
      border-color: transparent;
    }
    .exercise-actions {
      display: flex;

      margin-left: 10px;
      button {
        background-color: transparent;
        border-radius: 5px;
        font-size: 20px;
      }

      .remove-btn {
        background-color: transparent;
      }
    }
  }
}

.new-workout-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  p {
    margin-bottom: 10px;
  }
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .go-back-btn {
    padding: 10px;
    background-color: $negative-action;
    border-radius: 10px;
    border: none;
    margin: 5px;
    font-weight: bold;
    color: white;
    font-family: $app-type;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.521) inset,
      0px 5px 10px rgba(0, 0, 5, 0.801);
    &:active {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.521) inset,
        0px 5px 10px rgba(0, 0, 5, 0.521), 0 0 15px 5px rgba(0, 0, 0, 0.7) inset;
    }
  }
  .save-btn {
    padding: 10px;
    background-color: $positive-action;
    border-radius: 10px;
    border-color: transparent;
    margin: 5px;
    font-weight: bold;
    color: white;
    font-family: $app-type;
  }
  .next-btn {
    padding: 10px;
    background-color: $primary-color;
    border-radius: 10px;
    border-color: transparent;
    margin: 5px;
    font-weight: bold;
    color: $secondary-color;
    font-family: $app-type;
  }
}
