@use "../../style/mixin.scss" as *;
@use "../../style/font.scss" as *;
@use "../../style/colors.scss" as *;

.workout-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  p {
    color: $primary-color;
  }
  ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  li {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 10px;
    color: white;
    button {
      padding: 5px;
      background-color: white;
      font-weight: bold;
      font-family: $app-type;
      border-radius: 10px;
      border-color: transparent;
    }
  }
}

.new-workout-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  p {
    margin-bottom: 20px;
  }
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .go-back-btn {
    padding: 10px;
    background-color: $negative-action;
    border-radius: 10px;
    border-color: transparent;
    margin: 5px;

    font-weight: bold;
    color: white;
    font-family: $app-type;
  }
  .save-btn {
    padding: 10px;
    background-color: $positive-action;
    border-radius: 10px;
    border-color: transparent;
    margin: 5px;
    font-weight: bold;
    color: white;
    font-family: $app-type;
  }
  .next-btn {
    padding: 10px;
    background-color: $primary-color;
    border-radius: 10px;
    border-color: transparent;
    margin: 5px;
    font-weight: bold;
    color: $secondary-color;
    font-family: $app-type;
  }
}
