@use "../../../style/mixin.scss" as *;
@use "../../../style/font.scss" as *;
@use "../../../style/colors.scss" as *;

.new-exercise-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .form-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    label {
      font-size: 10px;
    }

    input {
      background-color: rgba(228, 220, 220, 0.766);
      padding: 10px;
      border-radius: 15px;
      width: 100%;
    }
  }
  .buttons {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    .submit-btn {
      padding: 10px;
      background-color: $primary-color;
      border-radius: 10px;
      border-color: transparent;
      font-weight: bold;
      color: $secondary-color;
      font-family: $app-type;
    }
    .back-btn {
      padding: 10px;
      background-color: $negative-action;
      border-radius: 10px;
      border-color: transparent;
      font-weight: bold;
      color: white;
      font-family: $app-type;
    }
  }
}
