@use "../style/abstract/mixin.scss" as *;
@use "./abstract/font.scss" as *;
@use "./abstract/colors.scss" as *;

.new-workout-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  .form-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    label {
      font-size: 15px;
      margin-top: 10px;
    }

    input {
      background-color: rgba(228, 220, 220, 0.766);
      padding: 10px;
      border-radius: 15px;
      width: 100%;
    }

    .execution {
      display: flex;
      flex-direction: row;
      gap: 8px;

      input {
        width: 80px;
        text-align: center;
      }
    }
  }
  .submit-btn {
    padding: 10px;
    background-color: $blue;
    border-radius: 10px;
    border-color: transparent;
    margin: 10px;
    font-weight: bold;
    color: $dark-blue;
    font-family: $app-type;
  }
  .workout-list {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    li {
      list-style: none;
    }
  }
}
