@forward "../src/components/main-page/mainPage.scss";
@forward "../src/components/new-workout/new-workout.scss";
@forward "../src/components/workout-card/workout-cards.scss";
@forward "../src/components/timer/timer.scss";
@forward "../src//components/history-card/history.scss";
@forward "../src/components/resume-card/resume-card.scss";
@forward "../src//components/new-workout/create-new-exercise/workout-name.scss";
@forward "../src//components/new-workout/create-new-exercise/workout-type.scss";
@forward "../src//components/new-workout/create-new-exercise/new-exercise.scss";
@forward "../src/components/pop-up/pop-up.scss";

@use "../src/style/font.scss" as *;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(1, 22, 41) 10%, #000000 100%);
  background-attachment: fixed;
  font-family: $app-type;
}
